{% extends "EPUploadBundle::layout.html.twig" %}

{% block title %}EPUploadBundle:MessagesController:messages{% endblock %}

{% block layout_body %}
<h1>Welcome to the MessagesController:messages page</h1>
{% endblock %}
