{% extends "::base.html.twig" %}

{% block title %}EPUploadBundle:MessagesController:sendMessage{% endblock %}

{% block body %}
<h1>Welcome to the MessagesController:sendMessage page</h1>
{% endblock %}
