/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
libs/
node_modules/
web/css/compiled/
web/js/compiled/
*.sublime-project
*.sublime-workspace
/web/uploads/*
src/*/*Bundle/Entity/*.php~
.DS_Store
