<footer>
    <div class="row">
        
        <div class="col-sm-5">
            Projet Platine | Université des sciences et technologies de Lille | M2 E-Services | 2015-2016
        </div>
        
        <div class="col-sm-7 text-right">
            Farid Aouragh | Nicolas Noullez
        </div>
        
    </div>
</footer>