<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('ep_upload_home') }}"><span>EASY Platform</span></a>
                            
            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">
                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="index.html#">
                            <i class="halflings user white"></i> Username
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="index.html"><i class="halflings user white"></i> Profile</a></li> -->
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="halflings off white"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->
            
        </div>
    </div>
</div>