<div class="modal-body" id="place_delete_form">

        <p>
          Le client suivant va être supprimé :
        </p>
        
        <p class="h2 center">
          {{ client.nom }}
        </p>

        <p>
          Voulez-vous continuer ?
        </p>                       

</div>
<div class="modal-footer">

    <form action="{{ path('ep_delete_client', {'id': client.id}) }}" method="post">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-info">Valider</button>
    {{ form_rest(form) }}
</div>