*[data-rel="tooltip"] {
    cursor: pointer !important;
}

.btn-customRed { background-color: hsl(0, 100%, 22%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea0000", endColorstr="#700000"); background-image: -khtml-gradient(linear, left top, left bottom, from(#ea0000), to(#700000)); background-image: -moz-linear-gradient(top, #ea0000, #700000); background-image: -ms-linear-gradient(top, #ea0000, #700000); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea0000), color-stop(100%, #700000)); background-image: -webkit-linear-gradient(top, #ea0000, #700000); background-image: -o-linear-gradient(top, #ea0000, #700000); background-image: linear-gradient(#ea0000, #700000); border-color: #700000 #700000 hsl(0, 100%, 16%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39); -webkit-font-smoothing: antialiased; }


div.dz-default.dz-message {
    background-image: url(../img/dropzoneText.png) !important;
    width: 591px !important;
    margin-left: -300px !important;
}

.halflings.file.file-unknown:before {
    font-size: 25px;
}

.halflings.file.file-unknown {
    vertical-align: top !important;
}

.filetype {
    vertical-align: top;
}



/**************************\
 Indicateurs page d'accueil
\**************************/

.number { font-size:75px;}
.widget .panel, .widget.panel {
    overflow: hidden;
}

.widget {
    margin-bottom: 20px;
    border: 0px none;
}
.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0px;
}
.row-table > [class*="col-"] {
    float: none;
    table-layout: fixed;
    vertical-align: middle;
    display: table-cell;
}

.pv-lg {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.mt0 {
    margin-top: 0px !important;
}


.widget {
    margin-bottom: 20px;
    border: 0px none;
}

.bg-primary {
	background-color:#5d9cec;
	color:#fff!important
}
.bg-primary-light {
	background-color:#8bb8f1;
	color:#fff!important
}
.bg-primary-dark {
	background-color:#2f80e7;
	color:#fff!important
}
.bg-primary small {
	color:inherit
}
.bg-success {
	background-color:#27c24c;
	color:#fff!important
}
.bg-success-light {
	background-color:#43d967;
	color:#fff!important
}
.bg-success-dark {
	background-color:#1e983b;
	color:#fff!important
}
.bg-success small {
	color:inherit
}
.bg-info {
	background-color:#23b7e5;
	color:#fff!important
}
.bg-info-light {
	background-color:#51c6ea;
	color:#fff!important
}
.bg-info-dark {
	background-color:#1797be;
	color:#fff!important
}
.bg-info small {
	color:inherit
}
.bg-warning {
	background-color:#ff902b;
	color:#fff!important
}
.bg-warning-light {
	background-color:#ffab5e;
	color:#fff!important
}
.bg-warning-dark {
	background-color:#f77600;
	color:#fff!important
}
.bg-warning small {
	color:inherit
}
.bg-danger {
	background-color:#f05050;
	color:#fff!important
}
.bg-danger-light {
	background-color:#f47f7f;
	color:#fff!important
}
.bg-danger-dark {
	background-color:#ec2121;
	color:#fff!important
}
.bg-danger small {
	color:inherit
}
.bg-green {
	background-color:#37bc9b;
	color:#fff!important
}
.bg-green-light {
	background-color:#58ceb1;
	color:#fff!important
}
.bg-green-dark {
	background-color:#2b957a;
	color:#fff!important
}
.bg-green small {
	color:inherit
}
.bg-pink {
	background-color:#f532e5;
	color:#fff!important
}
.bg-pink-light {
	background-color:#f763eb;
	color:#fff!important
}
.bg-pink-dark {
	background-color:#e90bd6;
	color:#fff!important
}
.bg-pink small {
	color:inherit
}
.bg-purple {
	background-color:#7266ba;
	color:#fff!important
}
.bg-purple-light {
	background-color:#9289ca;
	color:#fff!important
}
.bg-purple-dark {
	background-color:#564aa3;
	color:#fff!important
}
.bg-purple small {
	color:inherit
}
.bg-inverse {
	background-color:#131e26;
	color:#fff!important
}
.bg-inverse-light {
	background-color:#243948;
	color:#fff!important
}
.bg-inverse-dark {
	background-color:#020304;
	color:#fff!important
}
.bg-inverse small {
	color:inherit
}
.bg-yellow {
	background-color:#fad732;
	color:#fff!important
}
.bg-yellow-light {
	background-color:#fbe164;
	color:#fff!important
}
.bg-yellow-dark {
	background-color:#f3ca06;
	color:#fff!important
}
.bg-yellow small {
	color:inherit
}
.bg-white {
	background-color:#fff;
	color:inherit!important
}
.bg-gray-darker {
	background-color:#232735;
	color:#fff!important
}
.bg-gray-dark {
	background-color:#3a3f51;
	color:#fff!important
}
.bg-gray {
	background-color:#dde6e9;
	color:#515253!important
}
.bg-gray-light {
	background-color:#e4eaec;
	color:#515253!important
}
.bg-gray-lighter {
	background-color:#edf1f2;
	color:#515253!important
}
/**************************\
 Edition de la page profil
\**************************/




.widget_p {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #DBDBDB;
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    border-radius: 3px;
}
.no-margin {
    margin: 0px !important;
}
.widget_p .widget-header {
    background-color: #EDEDED;
    background-image: -moz-linear-gradient(center top , #FFF, #EDEDED);
    border-radius: 2px 2px 0px 0px;
    border-bottom: 1px solid #DBDBDB;
    height: 44px;
    padding: 0px 15px;
    line-height: 44px;
}

.widget_p .widget-body {
    padding: 15px;
    border-radius: 0px 0px 2px 2px;
}

.widget_p .widget-header {
    line-height: 44px;
}

.widget_p .widget-header .title {
    color: #333;
    float: left;
    font-weight: bold;
    font-size: 16px;
}

.widget_p .widget-header span.tools {
    padding: 0px;
    float: right;
    margin: 0px;
}

.center-align-text {
    text-align: center !important;
}


/**************************\
\**************************/
