{% extends "FOSUserBundle::layout.html.twig" %}

{% block form_block %}

            <div class="login-box">
                <div style="text-align: center; margin-top:15px;">
                    <img src="{{ asset('logo/logo-notext.svg') }}" height="100px">
                </div>

                {% block fos_user_content %}
                {% endblock fos_user_content %}
            
            </div><!--/col-->

{% endblock %}