{% extends "EPAdminBundle::layout.html.twig" %}

{% block title %}
    Clients
    {{ parent() }}
{% endblock %}

{% block body %}
    
    {% for user in users %}
        
        <div class="col-sm-2">
            
            <a class="quick-button" href="{{ path('ep_admin_user_files', {'username' : user.username}) }}">
                <i class="fa fa-user fa-3x"></i>
                <p>{{ user }}</p>
                {% if count[ user.username ] > 0 %}
                    <span class="notification blue">{{ count[ user.username ] }}</span>
                {% endif %}
            </a>

        </div>

    {% endfor %}

{% endblock %}