{% block form_row %}
{% spaceless %}
        
        <div class="row new_product" style="margin-bottom: 10px">

<!--             {{ form_label(form.produit, "Produit", {'label_attr': {'class': 'col-md-2 control-label'}}) }} -->
            <div class="col-md-5">
                {{ form_widget(form.produit, { 'attr' : {'class' : 'input-md form-control', 'onchange' : 'updatePrices()'}}) }}
            </div>

            
<!--             {{ form_label(form.quantite, "Quantité", {'label_attr': {'class': 'col-md-2 control-label'}}) }}
 -->            <div class="col-md-2">
                {{ form_widget(form.quantite, { 'attr' : {'class' : 'input-md form-control', 'value' : '1', 'min' : '0', 'onchange' : 'updatePrices()'}}) }}
            </div>

            <div class="col-md-2"><span class="prixht"></span></div>
            <div class="col-md-2"><span class="prixttc"></span></div>
            
        </div>


{% endspaceless %}
{% endblock form_row %}