{% extends "EPUploadBundle::layout.html.twig" %}

{% block body %}

{{ include('EPUploadBundle:Upload:form.html.twig') }}

<h2>Vos derniers fichiers envoyés</h2>

{% include 'EPUploadBundle:Upload:list.html.twig' with { 'docs' : docs, } %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('js/dropzone.min.js')}}"></script>
    <!-- // <script src="assets/js/pages/form-dropzone.js"></script> -->

    <script type="text/javascript">
        $(document).ready(function(){
            /*------ Dropzone Init ------*/
            $(".dropzone").dropzone({
                "uploadMultiple" : false,
                "maxFiles" : 1,
            });
        });
    </script>

{% endblock %}