{% extends "EPUploadBundle::layout.html.twig" %}

{% block body %}

{{ include('EPUploadBundle:Upload:form.html.twig') }}

<h2>Vos derniers fichiers envoyés</h2>

{% include 'EPUploadBundle:Upload:list.html.twig' with { 'docs' : docs, } %}

{% endblock %}

{# {% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/scripts.min.js') }}"></script>
{% endblock %} #}