{% extends "EPUploadBundle::layout.html.twig" %}

{% block body %}

<h2>Vos fichiers</h2>

{# searchbar pour la liste de documents #}



{# liste des documents #}
{% include 'EPUploadBundle:Upload:list.html.twig' with { 'docs' : docs, } %}

{% endblock %}

{# {% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/scripts.min.js') }}"></script>
{% endblock %} #}